.App {
  transition: background-color 2s;
  height: 100%;
  font-family: 'Gill Sans MT', sans-serif
}

/* //For example: Open Sans, Fira Sans, Lucida Sans, Lucida Sans Unicode, Trebuchet MS, Liberation Sans, Nimbus Sans L, sans-serif. */